@font-face {
    font-family: "Ubuntu Mono";
    src: url("../fonts/UbuntuMono-Regular.woff") format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Ubuntu Mono";
    src: url("../fonts/UbuntuMono-Bold.woff") format('woff');
    font-weight: bold;
    font-style: normal;
}

:root {
    --font-size: 12px;
    --small-font-size: 10px;
    --large-font-size: 14px;
    --button-size: 40px;
    --button-canvas-size: 32px;

    --big-padding: 8px;
    --small-padding: 4px;

    --big-radius: 8px;
    --small-radius: 4px;
    --tiny-radius: 2px;

    --text-color: #444;
    --focus-color: rgba(0,0,0,0.5);
    --link-color: hotpink;

    --selected-fg: white;
    --selected-bg: #666;

    --button-bg: #ddd;
    --button-highlight: rgba(255,255,255,0.8);
    --button-highlight2: rgba(255,255,255,0.4);
    --button-shadow: rgba(0,0,0,0.2);

    --input-bg: white;

    --main-bg: #eee;
    --main-bg-2: #666;
    --overlay-bg: rgba(0,0,0,0.7);
    --overlay-header-bg: white;
    --behavior-bg: rgba(0,0,0,0.1);
}

/* BASICS */

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    color: var(--text-color);
    font-family: "Ubuntu Mono", Inconsolata, Menlo, monospace;
    font-size: var(--font-size);
}

body.no-scroll {
    height: 100%;
    overflow: hidden;
}

canvas {
    display: block;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    image-rendering: -moz-crisp-edges;
}

.main {
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.editor-header {
    flex-shrink: 0;
    align-items: center;
}

.one-tab-mode .tabs {
    overflow-y: auto;
}

.one-tab-mode .editor-header {
    width: 100%;
}
.one-tab-mode .panel {
    margin: 0 auto;
    width: 100%;
    max-width: calc(100vh - var(--button-size) * 5 - var(--big-padding) * 6);
}

.one-tab-mode .panel-header {
    display: none;
}

.multi-tab-mode .tabs {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    overflow-x: auto;
}

.multi-tab-mode .panel {
    flex-basis: 400px;
    flex-shrink: 0;
    max-width: calc(100vh - var(--button-size) * 5 - var(--big-padding) * 12);
}

.multi-tab-mode .panel-header {
    display: flex;
    justify-content: space-between;
    cursor: default;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.grid {
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.grid:focus {
    outline-color: transparent;
    outline-style: none;
}

.grid canvas {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.grid-highlight {
    position: absolute;
    border-radius: 4px;
    box-shadow: 0 0 0 4px black;
    filter: invert(100%);
}

.gridlines {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.gridlines table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
}

.gridlines-cell {
    border: 1px solid white;
    filter: invert(100%);
}

.gridlines-cell:hover {
    background: rgba(0,0,0,0.5);
}

.room-grid:not(:focus) .grid-highlight,
.sprite-grid:not(:focus) .grid-highlight {
    display: none;
}

.row {
    display: flex;
    align-items: center;
}

.fill {
    flex-basis: 100%;
    flex-grow: 1;
}

.vertical-divider {
    height: var(--button-size);
}

.overlay-wrapper {
    z-index: 1;
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.overlay {
    max-height: calc(100% - var(--big-padding));
    overflow-y: auto;
}

.color-blocks {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.color-block {
    flex-grow: 1;
}

.color-block:first-child {
    flex-grow: 2;
}

.welcome-logo img {
    width: 100%;
}

label {
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* FORM BASICS */

input,
textarea,
button,
select {
    position: relative;
    min-width: 0;
    min-height: 0;
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    background: none;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

*::-moz-focus-inner {
    border: none;
    outline: none;
}

button,
select {
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

button canvas {
    object-fit: contain;
    width: var(--button-canvas-size);
    height: var(--button-canvas-size);
}

.dropdown {
    display: inline-block;
    position: relative;
}

.dropdown select {
    width: 100%;
    height: 100%;
}

textarea {
    display: block;
}

/* FORM STYLES */

input,
textarea,
button,
.dropdown {
    margin: var(--small-padding);
    padding: var(--small-padding);
    min-width: var(--button-size);
    height: var(--button-size);
    border-radius: var(--small-radius);
    background: var(--input-bg);
    box-shadow:
        0 2px 0 0 var(--button-bg) inset,
        0 2px 0 0 var(--input-bg);
}

input,
textarea,
.dropdown {
    width: 100%;
    padding: var(--small-padding) var(--big-padding);
}

input {
    text-align: center;
}

input:focus {
    font-weight: bold;
}

textarea {
    height: auto;
}

input:focus,
textarea:focus {
    box-shadow:
        0 2px 0 0 var(--button-bg) inset,
        0 2px 0 0 var(--input-bg),
        0 0 0 2px var(--focus-color),
        0 2px 0 2px var(--focus-color);
}

input[type="file"] {
    background: var(--button-bg);
}

.color-textbox {
    color: white;
    font-weight: bold;
    text-shadow:
        -1px 0px 0 black,
        1px 0px 0 black,
        0px -1px 0 black,
        0px 1px 0 black,
        -1px 1px 0 black,
        1px -1px 0 black,
        -1px -1px 0 black,
        1px 1px 0 black
        ;
    box-shadow: none;
}

.color-textbox:focus {
    box-shadow: 0 0 0 2px var(--focus-color);
}

.overlay input {
    margin-left: 0;
    margin-right: 0;
}

textarea {
    margin-left: 0;
    margin-right: 0;
    padding: var(--big-padding);
}

button,
input[type="file"],
.dropdown {
    transform: translateY(-2px);
    min-width: var(--button-size);
    min-height: var(--button-size);
    border-radius: var(--small-radius);
    box-shadow:
        0 1px 0 0 var(--button-highlight) inset,
        0 -1px 0 0 var(--button-highlight2) inset,
        0 4px 0 0 var(--button-shadow);
    background: var(--button-bg);
}

button:active,
input[type="file"]:active {
    transform: translateY(0);
    box-shadow:
        0 1px 0 0 var(--button-highlight) inset,
        0 -1px 0 0 var(--button-highlight2) inset,
        0 2px 0 0 var(--button-shadow);
}

button:focus,
input[type="file"]:active {
    box-shadow:
        0 1px 0 0 var(--button-highlight) inset,
        0 -1px 0 0 var(--button-highlight2) inset,
        0 4px 0 2px var(--focus-color),
        0 0 0 2px var(--focus-color);
    font-weight: bold;
}

button.selected {
    box-shadow:
        0 1px 0 0 var(--button-highlight) inset,
        0 -1px 0 0 var(--button-highlight2) inset,
        0 4px 0 0 var(--focus-color);
    background: var(--selected-bg);
    color: var(--selected-fg);
}

button.selected:active {
    box-shadow:
        0 1px 0 0 var(--button-highlight) inset,
        0 -1px 0 0 var(--button-highlight2) inset,
        0 2px 0 0 var(--focus-color);
}

button.simple {
    transform: translateY(0);
    box-shadow: none;
    background: none;
    margin-left: 1px;
    margin-right: 1px;
}

button.simple:hover,
button.simple:focus {
    background: var(--button-bg);
}

button.simple.selected {
    background: var(--selected-bg);
    color: var(--selected-fg);
}

button.simple.selected:active {
    box-shadow: none;
}

button canvas {
    border-radius: var(--tiny-radius);
}

/* STYLES */
body {
    background: var(--main-bg);
}

a,
a:visited,
a:active,
a:hover {
    color: hotpink;
}

a:hover,
a:active,
a:focus {
    font-weight: bold;
}

.editor-header {
    align-items: center;
    padding: 0 var(--big-padding);
}

.panel-content {
    padding: var(--big-padding);
    padding-top: var(--small-padding);
}

.one-tab-mode .editor-header {
    background: var(--overlay-header-bg);
}

.multi-tab-mode {
    background: var(--main-bg-2);
}

.multi-tab-mode .editor-header {
    margin: var(--big-padding);
    margin-top: 0;
    padding-top: var(--small-padding);
    padding-bottom: var(--big-padding);
    border-bottom-left-radius: var(--big-radius);
    border-bottom-right-radius: var(--big-radius);
    background: var(--main-bg);
}

.multi-tab-mode .tabs::after {
    content: '';
    display: block;
    flex-shrink: 0;
    width: 1px;
}

.multi-tab-mode .panel {
    margin-right: var(--big-padding);
}

.multi-tab-mode .panel:first-child {
    margin-left: var(--big-padding);
}

.multi-tab-mode .panel-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: var(--button-height);
    padding-left: calc(var(--big-padding) * 2);
    border-top-left-radius: var(--big-radius);
    border-top-right-radius: var(--big-radius);
    background: var(--overlay-header-bg);
}

.multi-tab-mode .panel-content {
    border-bottom-left-radius: var(--big-radius);
    border-bottom-right-radius: var(--big-radius);
    background: var(--main-bg);
}

.row > span {
    margin: var(--small-padding);
}

span.label {
    flex-basis: 33%;
}

.grid {
    margin: var(--big-padding) auto var(--small-padding);
    cursor: pointer;
}

.grid:focus {
    box-shadow: 0 0 0 2px var(--focus-color);
}

.room-grid {
    margin: 0
}
.room-block {
    margin: var(--big-padding) auto var(--small-padding);
}
.room-block .row {
    justify-content: center;
}

.color-grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, calc(var(--button-size) * 0.8));
    column-gap: 1px;
    row-gap: 1px;
    margin: var(--big-padding) var(--small-padding) var(--small-padding);
}

.color-grid.one-row {
    padding: var(--small-padding) 0;
    grid-template-rows: repeat(1, calc(var(--button-size) * 0.8));
}

.color-grid-item {
    border-radius: var(--tiny-radius);
}

.music-grid {
    position: relative;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(4, var(--button-size));
    column-gap: 1px;
    row-gap: 1px;
    margin: var(--big-padding) var(--small-padding) var(--small-padding);
}

.music-grid-item {
    border-radius: var(--tiny-radius);
    background: var(--input-bg);
}

.color-grid-item button,
.music-grid-item button {
    transform: none;
    margin: 0;
    padding: 0;
    min-width: 0;
    min-height: 0;
    width: 100%;
    height: 100%;
}

.color-grid-item button:hover,
.color-grid-item button:focus,
.color-grid-item button:active,
.music-grid-item button:hover,
.music-grid-item button:focus,
.music-grid-item button:active {
    transform: none;
    background: none;
    box-shadow: none;
}

.color-grid-item button,
.color-grid-item button.selected,
.color-grid-item button:active,
.music-grid-item button,
.music-grid-item button.selected,
.music-grid-item button:active {
    box-shadow: none;
    background: none;
}

.color-grid-item button.selected,
.music-grid-item button.selected {
    border: 2px solid var(--focus-color);
}

.color-grid-item button:hover,
.color-grid-item button:focus,
.music-grid-item button:hover,
.music-grid-item button:focus {
    box-shadow: 0 0 0 2px var(--focus-color);
}

.beat-indicator {
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 100%;
    background: var(--focus-color);
    transition: left 100ms;
}

.music-button {
    width: calc(var(--button-size) * 2);
    flex-shrink: 0;
}

.music-button-grid {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border-radius: var(--tiny-radius);
    background: var(--input-bg);
    overflow: hidden;
}

.music-button-grid-row {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.music-button-grid-item {
    flex-grow: 1;
}

.overlay-wrapper {
    background: var(--overlay-bg);
}

.overlay {
    min-width: 67%;
    max-width: 100%;
    margin: var(--big-padding);
    border-radius: var(--big-radius);
    background: var(--main-bg);
}

.overlay-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: calc(var(--big-padding) * 2);
    background: var(--overlay-header-bg);
}

.overlay-header span:first-child {
    flex-grow: 1;
}

.overlay-content {
    padding: var(--big-padding);
}

.extras-overlay {
    display: flex;
    flex-direction: column;
}

.extras-overlay button {
    display: block;
    flex-grow: 1;
}

hr {
    width: 100%;
    border: none;
    border-bottom: 1px solid var(--button-shadow);
}

.vertical-divider {
    margin: var(--small-padding);
    margin-top: var(--big-padding);
    border-left: 1px solid var(--button-shadow);
}

.spacer {
    width: var(--button-size);
}

svg.icon {
    padding: 2px;
    width: calc(var(--button-size) - var(--small-padding) * 2);
    height: calc(var(--button-size) - var(--small-padding) * 2);
    fill: none;
    stroke: currentColor;
    stroke-width: 8px;
}

svg.logo {
    height: calc(var(--button-size) - var(--small-padding) * 2);
    margin: var(--small-padding);
    margin-bottom: 0;
    fill: var(--main-bg-2);
    stroke: none;
}

.one-tab-mode .play-panel {
    margin: var(--big-padding) auto;
    width: 100%;
    max-width: calc(100vh - var(--button-size) * 1 - var(--big-padding) * 4);
}

.multi-tab-mode .play-panel {
    margin: 0 auto;
    width: 100%;
    max-width: calc(100vh - var(--button-size) * 1 - var(--big-padding) * 5);
}

.behavior {
    margin: var(--big-padding) 0;
    padding: var(--big-padding);
    border-radius: var(--big-radius);
    background: var(--behavior-bg);
    box-shadow:
        0 1px 0 0 var(--button-highlight) inset,
        0 -1px 0 0 var(--button-highlight2) inset,
        0 4px 0 0 var(--button-shadow);
}

.behavior:focus {
    outline: none;
    box-shadow:
        0 1px 0 0 var(--button-highlight) inset,
        0 -1px 0 0 var(--button-highlight2) inset,
        0 4px 0 2px var(--focus-color),
        0 0 0 2px var(--focus-color);
}

.welcome-logo {
    margin: var(--big-padding) 0;
}

.welcome-links {
    margin: var(--big-padding) 0;
    text-align: center;
}

.script-section > .row {
    overflow: hidden;
    transition: all 150ms;
}

.script-section.open > .row {
    max-height: calc(var(--button-size) * 2);
}

.script-section.closed > .row {
    max-height: 0vh;
}

.script-item-list {
    margin: var(--big-padding);
    overflow: hidden;
}

.script-item-list.open {
    max-height: 100vh;
    transition: all 200ms;
}

.script-item-list.closed {
    margin-top: 0;
    margin-bottom: 0;
    max-height: 0vh;
}

.script-item-list a {
    display: block;
    margin: var(--small-padding) 0;
}

.slice canvas {
    opacity: 0.33;
}

.arrow-overlay {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    align-items: center;
    justify-content: center;
    font-size: var(--large-font-size);
}